body{
	font-family: "微軟正黑體",'Lato', sans-serif;
	background-image: url(http://subtlepatterns.com/patterns/wavegrid.png);
}

@media (min-width: 768px) {
	.dropdown:hover .dropdown-menu {
		display: block;
	}
}
/* Sortable tables */
table.sortable thead {
    background-color:#eee;
    color:#666666;
    font-weight: bold;
    cursor: default;
}

#brand{
	font-family: 'Gloria Hallelujah', cursive;
}

button{
	font-family: 'Varela Round', sans-serif;
}
#my-logout-button{
	margin-right: 20px;
}

dt, thead{
	font-family: 'Indie Flower', cursive;
	font-size: 18px;
}


table, h4, p{
	font-family: 'PT Sans', sans-serif;
}



#title{
	font-family: 'Russo One', sans-serif;
}
h2{
	font-family: 'Vollkorn', serif;
}


/*
 * draw my route using CSS3 
 */


* {
  box-sizing: border-box;   
}

#myroute {
  position: relative;
  overflow: hidden;
  list-style: none;
  width: 800px;
  margin: 30px auto;
  padding: 0;
}

#myroute:after {
  content:"";
  z-index: 1;
  position: absolute;
  left: 50%;
  top:0;
  width: 4px;
  margin-left: -2px;
  min-height: 100%;
  background-color: #bcbcbc;
}

#myroute li {
  z-index: 2;
  position: relative;
  width: 380px;
  padding: 20px;
  float: left;
  margin-bottom: 30px;
  background-color: #f3f3fe;
}

#myroute li.left {
  float: left;
  clear: left;
}

.left img{
  max-width:150px;
  border-radius: 50px 10px / 20px 30px;
  padding:2px;
  float:left;
}
.left h3{
  margin-right:-20px;
  float:right;
  width:190px;
  margin-top:10px;
}
.left p{
  float:left;
}
.left .down_cont{
  width: 350px;
  height: 20px;
  border-top: 1px dotted #ccc;
  float: left;
}
.left .down_cont time{
  margin: 10px;
  float :right;
}


#myroute li.right {
  float: right;
  clear: right;
}

.right img{
  max-width:150px;
  border-radius: 20px 30px / 50px 10px;
  padding:2px;
  float:right;
}

.right h3{
  float:right;
  width:190px;
  margin-top:10px;
}
.right p{
  float:left;
}
.right .down_cont{
  width: 350px;
  height: 20px;
  border-top: 1px dotted #ccc;
  float: left;
}
.right .down_cont time{
  margin: 10px;
}



/* arrow */

#myroute li:before {
  content:"";
  z-index: 1;
  position: absolute;
  top: 14px;
  right: -6px;
  left: -6px;
  width: 12px;
  height: 12px;
  background-color: #f3f3fe;
  transform: rotate(45deg);
}

#myroute li.left:before {
  left: auto;
}

#myroute li.right + #myroute li.left:before,
#myroute li.left + #myroute li.right:before {
  top: 36px;
}


/* dot */

#myroute li:after {
  content:"";
  z-index: 1;
  position: absolute;
  top: 14px;
  right: -27px;
  left: -27px;
  width: 8px;
  height: 8px;
  border: 3px solid #eee;
  border-radius: 100%;
  background-color: #ccc;
  transition: .2s;
}

#myroute li:hover:after {
  background-color: #999;
  top: 12px;
  right: -29px;
  left: -29px;
  width: 12px;
  height: 12px;
}

#myroute li.left:after {
  left: auto;
}

#myroute li.right + #myroute li.left:after,
#myroute li.left + #myroute li.right:after {
  top: 36px;
}

#myroute li.right + #myroute li.left:hover:after,
#myroute li.left + #myroute li.right:hover:after {
  top: 34px;
}

#myroute li.right:after {
  right: auto;
}


/******************************************/


/* svg elements */
circle{
	fill: #e2e2e2;
	stroke: #777;
	stroke-width: 2;
}

circle:hover{
	fill: #eae5f6;
}

line{
	stroke:#777; 
	stroke-width:8;
}

text{
	fill: #777;
}