body{

	font-family: "微軟正黑體",'Lato', sans-serif;
}

#brand{
	font-family: 'Gloria Hallelujah', cursive;
}

button{
	font-family: 'Varela Round', sans-serif;
}
#my-logout-button{
	margin-right: 20px;
}

dt, thead{
	font-family: 'Indie Flower', cursive;
	font-size: 18px;
}


table, h4, p{
	font-family: 'PT Sans', sans-serif;
}



#title{
	font-family: 'Russo One', sans-serif;
}
h2{
	font-family: 'Vollkorn', serif;
}
